.TodoList {
    background-color: #fff;
    padding: 2rem 2rem 1rem 2rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.2rem;
    margin: 3rem auto;
    min-width: 32rem;
    max-width: 60rem;
    position: relative;
}

.TodoList__content {
    list-style-type: none;
    padding-left: 0;
}
