.TodoList {
    background-color: #fff;
    padding: 20px 20px 10px 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 30px auto;
    min-width: 320px;
    max-width: 600px;
    position: relative;
}

.TodoList__header {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.TodoList__content {
    list-style-type: none;
    padding-left: 0;
}
