.ActionList {
    flex: 0 0 auto;
    list-style-type: none;
    border-right: 0.1rem solid #ccc;
    margin-right: 1.5rem;
    padding: 0 1rem 0 0;
}

.ActionList__item {
    display: inline;
}

// TODO: responsive images
.ImageButton {
    border: 0;
    margin: 0 0.5rem;
    height: calc(max(1.8rem, 18px));
    width: calc(max(1.8rem, 18px));
    cursor: pointer;
    opacity: 0.4;
    transition: 0.3s all;

    &:hover, &____selected {
        opacity: 1;
    }
}

.ImageButton____add {
    @extend .ImageButton;

    background: url("../../../assets/add.svg") no-repeat center;
}

.ImageButton____search {
    @extend .ImageButton;

    background: url("../../../assets/search.svg") no-repeat center;
}
